{{!-- <form class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  <p>this is slogin </p>
  </div>
</form>

<a href="/signup">Sign Up Here:</a> --}}


  <h1>Welcome to CyberNarnia!</h1>
    <form action="signup.php">
      <div class="container">
        <h1>Register</h1>
        <p>Sign-Up Below!</p>
        <hr />

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          id="psw"
          required
        />

        <p>
          By creating an account you agree to our
          <a href="#">Terms & Privacy</a>.
        </p>
        <button type="submit" class="registerbtn">Register</button>
      </div>

      <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
      </div>
    </form>

    
<script src="/javascript/login.js"></script>